extends layout

block layout-content
  div.View
    h1.Banner Mohammad Rezai
    div.Message
      div.Title
        h3 Making the Best
        h1 Of My Grad Time
      span.Details Access the WHATABYTE Team Portal
    div.NavButtons
      a(href="/user")
          div.NavButton Lets dive in!